.start {
    margin: 10px;
    background-color: #fff;
    border: 1px solid grey;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 10px 2px grey;
}

.addressinput {
    border-radius: 10px;
    width: calc(90% - 80px);
    border: none;
    font-size: 18px;
    font-weight: 600;
}

.btn{
    border-radius: 10px;
    margin: 2px;
    padding: 10px;
    border: none;
}

.editbtn{
    background-color: rgb(255, 162, 0);
}

.deletebtn{
    background-color: orangered;
}