
.card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    width: 200px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px 2px black;
    position: relative;
}

.lowerpart {
    background-color: rgb(255, 255, 255);
}

.img {
    background-color: rgba(212, 255, 226, 0.655);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.title {
    font-size: 25px;
    font-weight: bolder;
}

.description {
    font-size: 16px;
    font-weight: 500;
}

.price {
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-weight: bold;
}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 8px;
}

.buy {
    background-color: #04ff00;
}

.add {
    background-color: rgb(255, 153, 0);
}

.wishlist-btn {
    color: #000;
    background: none;
    border: none;
    cursor: pointer;
    transition: .25s;
    position: absolute;
    top: 10px;
    right: 2px;
}

.wishlist-btn:hover {
    color: #ff4d6d;
}

.wishlistBtnActive {
    color: #ff1744;
}

@media (max-width: 480px) {

    .card {
    margin: 5px;
    width: 130px;
    padding: 5px;
    box-shadow: 0 0 10px 1px black;
    position: relative;
}

.photo {
    width: 120px;
    height: 140px;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.description {
    font-size: 12px;
}

.price {
    font-size: 14px;
}

.btn {
    padding: 4px;
    margin-top: 3px;
    font-size: 12px;
    border-radius: 5px;
}

.wishlist-btn {
    top: 10px;
    right: 2px;
}
}