.card {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    margin: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
    justify-content: space-between;
    box-shadow: 0 0 15px 1px black;
    margin-bottom: 15px;

}

.start {
    display: flex;
}

.lowerpart {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    background-color: rgba(224, 255, 219, 0.927);
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    height: 100px;
    object-fit: contain;
    display: flex;
    align-items: center;
}

.title {
    font-size: 25px;
    font-weight: bolder;
}

.description {
    font-size: 16px;
    font-weight: 500;
}

.price {
    color: rgb(0, 255, 238);
    font-size: 20px;
    font-weight: bold;
}

.btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 20px;
    gap: 10px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-top: 8px;
}

.buy {
    background-color: #04ff00;
}

.add {
    background-color: rgb(255, 153, 0);
}