@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Sawarabi+Gothic&display=swap');

:root {
    --o: 0;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Sawarabi Gothic", sans-serif;
}

.start {
    background-color: black;
    color: white;
    height: 100%;
    width: 100%;
}

.header {
    background-color: black;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-top: 10px;
    padding-left: 20px;
    height: 40px;
    fill: white;

}

.item2 {
    display: flex;
    gap: 10px;
    padding-left: 20px;
}

.itm {
    background-color: red;
    display: flex;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: rgba(24, 24, 24, 0.947);
    border-radius: 30px;
    height: 46px;
}

#homebtn {
    color: white;
    height: 25px;
    margin-top: 6px;
    background-color: rgba(24, 24, 24, 0.947);
    padding: 10px;
    border-radius: 24px;
}

#search {
    color: white;
    fill: white;
    height: 25px;
    /* margin-top: 6px; */
    /* background-color: rgba(24, 24, 24, 0.947); */
    padding: 10px;
    border-radius: 24px;
}

.itm:hover {
    background-color: rgba(63, 63, 63, 0.578);
}

.searchbar {
    background-color: rgba(24, 24, 24, 0);
    border: 0px;
    border-radius: 20px;
    height: 46px;
    padding-left: 0px;
    padding-right: 150px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(170, 170, 170);
}


.vline {
    width: 1px;
    height: 23px;
    background-color: grey;
    margin-right: 20px;
    margin-top: 10px;
}

#library {
    color: grey;
    padding-top: 10px;
    padding-right: 10px;
    /* height: 40px; */
}

.item3 {
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: bolder;
    color: rgb(150, 150, 150);
    padding-top: 18px;
    padding-left: 100px;
}

.hoverwhite:hover {
    color: white;
}

.vline2 {
    width: 1px;
    height: 27px;
    background-color: white;
    margin: 15px;
    margin-right: 20px;
}

.item5 {
    display: flex;
    gap: 20px;
    font-size: 14px;
    font-weight: bolder;
    color: rgb(150, 150, 150);
    padding-top: 18px;
    padding-left: 40px;
}

.loginbtn {
    font-size: 16px;
    font-weight: bolder;
    padding: 10px 25px;
    margin: 6px;
    margin-left: 60px;
    background-color: white;
    border: 0px;
    border-radius: 20px;
}

.middle {
    display: flex;
}

.left {
    background-color: rgba(24, 24, 24, 0.747);
    width: 294px;
    height: calc(100vh - 61px);
    margin: 3px;
    border-radius: 10px;
}

.hamburger {
    display: none;
    color: white;
    height: 20px;
    padding-top: 10px;
    padding-left: 3px;
}

.left1 {
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    padding-bottom: 25px;
    padding-top: 20px;
}

.lft1 {
    font-weight: 700;
}

.lbtn {
    border: 0px;
    background-color: rgba(66, 66, 66, 0.509);
    padding: 6px 12px;
    border-radius: 18px;
    color: white;
    font-weight: 900;
    font-size: 15px;
}

.lcard {
    background-color: rgba(56, 56, 56, 0.331);
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    margin: 8px;
    margin-bottom: 20px;

}

.lt1 {
    font-size: 16px;
    font-weight: 800;
    /* padding: 5px; */
}

.lt2 {
    font-size: 14px;
    padding: 5px;
}

.cardbtn {
    color: black;
    font-size: 15px;
    font-weight: 800;
    padding: 5px 15px 5px 15px;
    border: 0px;
    border-radius: 16px;
    margin: 10px;
}

.hover:hover {
    transform: scale(1.05);
}

.right {
    background-color: rgba(24, 24, 24, 0.947);
    width: calc(100vw - 288px);
    height: calc(100vh - 61px);
    margin: 3px;
    border-radius: 10px;
    overflow: auto;
}

.right::-webkit-scrollbar {
    display: none;
}

.hscroll {
    margin-left: 20px;

}

.rscroll {
    display: flex;
    width: calc(100vw - 320px);
    overflow: auto;
}

.rscroll::-webkit-scrollbar {
    display: none;
}

.rtext1 {
    color: white;
    font-weight: 900;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 10px;
}

.rcard {
    /* background-color: grey; */
    background-color: rgba(24, 24, 24, 0.947);
    /* display: flex; */
    /* flex-direction: column; */
    width: 180px;
    position: relative;
    border-radius: 10px;
    margin: 10px;
}

.rcard:hover {
    background-color: rgba(90, 90, 90, 0.26);
    /* background-color: rgba(24, 24, 24, 0.947); */
    /* display: flex; */
    /* flex-direction: column; */
    width: 180px;
    position: relative;
    border-radius: 10px;
    margin: 10px;
    transition: all 0.5s;
    --o: 1;
}

.cover {
    width: 160px;
    padding: 10px;
    border-radius: 20px;
    padding-bottom: 0px;
}

.cover2 {
    width: 160px;
    height: 160px;
    padding: 10px;
    border-radius: 1000px;
    padding-bottom: 0px;
}

.playbtn {
    width: 25px;
    background-color: rgb(2, 173, 2);
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    right: 15px;
    top: 118px;
    opacity: var(--o);
    transition: all 0.5s;
    cursor: pointer;

}

.name {
    font-size: 16px;
    font-weight: 600;
    padding-right: 5px;
    padding-left: 5px;
}

.desc {
    color: grey;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 10px;
}

.hrline {
    background-color: rgba(62, 62, 62, 0.416);
    height: 1px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-right: 30px;
    margin-left: 30px;
}

.hrline2 {
    background-color: rgba(62, 62, 62, 0.416);
    height: 1px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-right: 30px;
    margin-left: 30px;
}

.seclast {
    display: flex;
}

.secleft {
    /* width: 600px; */
    display: grid;
    grid-template-columns: repeat(4, 110px);
    gap: 20px;
    /* background-color: red; */
}

.clm1 {
    grid-column: 1/2;
    margin-left: 30px;
}

.clm2 {
    grid-column: 2/3;
}

.clm3 {
    grid-column: 3/4;
}

.clm4 {
    grid-column: 4/5;
}

.tb {
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.tl {
    color: rgb(150, 150, 150);
    padding: 5px;
}

.tl:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: white;
}

.last {
    padding-bottom: 50px;
    padding-left: 30px;
    color: rgb(150, 150, 150);
}

.playercard {
    /* width: calc(100vw - 10px); */
    width: calc(100% - 4px);
    /* height: calc(100vh- 60px); */
    height: 100%;
    background-color: rgba(0, 10, 0, 0.959);
    z-index: 1;
    position: absolute;
    bottom: 3px;
    left: 3px;
    display: none;
}

.playerclose {
    height: 30px;
    position: fixed;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

.songicon {
    border: 1px solid orange;
    width: 200px;
    padding: 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: auto;
    margin-top: 25vh;
    
}

.songcard {
    background-color: rgb(28, 28, 28);
    width: calc(100vw - 10px);
    height: 110px;
    margin: auto;
    border-radius: 10px;
    position: fixed;
    bottom: 5px;
    /* background-color: #ffa500; */
}

.upper {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
    height: 70px;
}

.songinfo {
    /* background-color: red; */
    width: 40vw;
    margin-left: 5px;
    text-overflow: ellipsis;
}

.songname {
    font-weight: 700;
    font-size: 20px;
}

.songartist {
    color: grey;
}

.controls {
    width: auto;
    /* background-color: aqua; */
    display: flex;
    gap: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.extra {
    width: 40vw;
    /* background-color: green; */
}

.lower {
    display: flex;
    margin-top: 5px;
}

.playline {
    background-color: white;
    height: 5px;
    width: calc(100vw - 160px);
    margin: 0px 5px;
    margin-top: 10px;
    border-radius: 5px;
}

.circle {
    height: 10px;
    width: 10px;
    background-color: orange;
    border-radius: 10px;
    margin-top: -2px;
    position: absolute;
    margin-left:0px;
    /* margin-left: calc(100vw - 170px); */
}