@media screen and (max-width: 1278px) {
    .searchbar {
        background-color: rgba(24, 24, 24, 0);
        border: 0px;
        border-radius: 20px;
        height: 46px;
        padding-left: 0px;
        padding-right: 10px;
        font-size: 16px;
        font-weight: 500;
        color: rgb(170, 170, 170);
    }

    .item3 {
        display: flex;
        gap: 10px;
        font-size: 16px;
        font-weight: bolder;
        color: rgb(150, 150, 150);
        padding-top: 18px;
        padding-left: 10px;

    }
}

@media screen and (max-width: 1049px) {
    .searchbar {
        background-color: rgba(24, 24, 24, 0);
        border: 0px;
        border-radius: 20px;
        height: 46px;
        padding-left: 0px;
        padding-right: 10px;
        font-size: 0px;
        font-weight: 500;
        color: rgb(170, 170, 170);
    }
}

@media screen and (max-width: 858px) {
    .left {
        display: none;
        position: fixed;
        top: 50px;
        /* left: 100%; */
        width: 100%;
        height: calc(100vh - 50px);
        background: #111;
        transition: left 1s ease;
        z-index: 2;
    }

    .hamburger {
        display: block;
    }

    .right {
        width: 100vw;
        margin-left: 0px;
    }

    .item3,
    .item5 {
        display: none;
    }

    .searchbar {
        background-color: rgba(24, 24, 24, 0);
        border: 0px;
        border-radius: 20px;
        height: 35px;
        padding-left: 0px;
        padding-right: 10px;
        font-size: 0px;
        font-weight: 500;
        color: rgb(170, 170, 170);
    }

    #search {
        color: white;
        fill: white;
        height: 25px;
        /* margin-top: 6px; */
        /* background-color: rgba(24, 24, 24, 0.947); */
        padding: 10px;
        border-radius: 24px;
    }

    #homebtn {
        color: white;
        height: 17px;
        margin-top: 6px;
        background-color: rgba(24, 24, 24, 0.947);
        padding: 10px;
        border-radius: 24px;
    }

    .itm {
        display: flex;
        margin-top: 6px;
        background-color: rgba(24, 24, 24, 0.947);
        border-radius: 30px;
        height: 35px;
    }

    .item2 {
        display: flex;
        gap: 5px;
        padding-left: 0px;
    }

    .logo {
        padding-top: 10px;
        padding-left: 0px;
        height: 30px;
        fill: white;

    }

    .loginbtn {
        font-size: 12px;
        font-weight: bolder;
        padding: 8px 20px;
        margin: 6px;
        margin-left: 0px;
        background-color: white;
        border: 0px;
        border-radius: 20px;
    }

    .vline2 {
        display: none;
        width: 1px;
        height: 27px;
        background-color: white;
        margin: 15px;
        margin-right: 20px;
    }

    .item5 {
        display: none;
        gap: 0px;
        font-size: 14px;
        font-weight: bolder;
        color: rgb(150, 150, 150);
        padding-top: 18px;
        padding-left: 40px;
    }

    .rscroll {
        display: flex;
        width: calc(100vw);
        overflow: auto;
    }

    .rscroll::-webkit-scrollbar {
        display: none;
    }

    .hscroll {
        margin-left: 0px;
    }

    .secleft {
        /* width: 600px; */
        display: grid;
        grid-template-columns: repeat(2, 110px);
        /* grid-template-rows: repeat(2, 110px); */
        gap: 20px;
        /* background-color: red; */
    }

    .clm1 {
        grid-column: 1/2;
        margin-left: 30px;
    }

    .clm2 {
        grid-column: 2/3;
    }

    .clm3 {
        grid-column: 1/2;
        margin-left: 30px;
    }

    .clm4 {
        grid-column: 2/3;
    }
}