.start {
    background-color: #f5f5f5;
    min-height: calc(100vh - 50px);
}

.searchbox {
    display: flex;
    min-width: 100vw;
    justify-content: center;
    align-items: center;
}

.sbox {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin: 10px;
    border-radius: 10px;
}

.search {
    width: 290px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.searchsvg {
    margin-right: 5px;
}

.catagory {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.capsules {
    background-color: rgba(255, 255, 255, 0.309);
    margin: 3px;
    padding: 5px;
    border-radius: 10px;
    font-weight: 800;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.571);
    color: black;
    text-decoration: none;
}

.sec {
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    overflow-x: auto;
}

.sectiontitle {
    font-size: 30px;
    font-weight: bolder;
    padding: 10px;
}

@media (max-width: 480px) {

    .search {
        width: 200px;
        height: 20px;
    }

    .catagory {
        padding: 0px 2px;
    }

    .capsules {
        margin: 2px;
        padding: 3px;
        border-radius: 10px;
        font-weight: 600;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.571);
        color: black;
        text-decoration: none;
        font-size: 13px;
    }

    .sec {
        grid-template-columns:1fr 1fr;
    }

    .sectiontitle {       
        padding: 5px;
    }
}