* {
    padding: 0;
    margin: 0;
}

:root {
    --display_options: none;
    --final_color: rgb(0, 255, 0);
}

.main {
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.playbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show {
    display: var(--display_options);
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.playtext {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btns {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    transition: all 0.2s linear;
}


.play {
    background-color: rgb(0, 255, 0);
    color: white;
}


.rock {
    background-color: rgb(109, 109, 109);
    color: white;
}

.paper {
    background-color: rgb(0, 100, 255);
    color: white;
}

.scessors {
    background-color: #fff;
}

.btn:hover {
    transform: scale(1.05);
}

.answer {
    color: aqua;
}

.final_result {
    font-size: 70px;
    color: var(--final_color);
}

.result{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.answer_box {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.retrybtn {
    display: flex;
    justify-content: center;
}

.retry{
    background-color: rgb(255, 174, 0);
}