.main {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 300px);
    gap: 15px;
}

.item {
    display: grid;
    grid-template-rows: auto;
    width: 300px;
    height: 130px;
    border: 0px solid black;
    background-color: rgba(169, 169, 169, 0.333);
    border-radius: 20px;
    justify-items: center;
    margin: 5px;

}

.top {
    grid: 1/3;
}

.bottom {
    display: grid;
    grid-template-columns: 130px 130px;
    gap: 5px;
    margin: 5px;
}

.left {
    grid-column: 1/2;

    border: 0px solid black;
    background-color: rgb(27, 179, 176);
    color: white;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}

.right {
    grid-column: 2/3;

    border: 0px solid black;
    background-color: rgb(46, 180, 19);
    color: white;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
}

.top {
    grid-column: 1/3;
    grid-row: 1/2;
}

@media only screen and (max-width: 900px) {
    body {
        .main {
            display: grid;
            justify-content: center;
            grid-template-columns: repeat(1, 300px);
            gap: 15px;
        }

        .item {
            display: grid;
            grid-template-rows: auto;
            width: 300px;
            height: 130px;
            border: 0px solid black;
            background-color: rgba(169, 169, 169, 0.333);
            border-radius: 20px;
            justify-items: center;
            margin: 5px;

        }

        .top {
            grid: 1/3;
        }

        .bottom {
            display: grid;
            grid-template-columns: 130px 130px;
            gap: 5px;
            margin: 5px;
        }

        .left {
            grid-column: 1/2;

            border: 0px solid black;
            background-color: rgb(27, 179, 176);
            color: white;
            border-radius: 10px;
            padding: 5px;
            text-transform: none;
        }

        .right {
            grid-column: 2/3;

            border: 0px solid black;
            background-color: rgb(46, 180, 19);
            color: white;
            border-radius: 10px;
            padding: 5px;
        }

        .top {
            grid-column: 1/3;
            grid-row: 1/2;
        }

    }
}