.ipage {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.iimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iphoto {
    height: 400px;
    border-radius: 10px;
    object-fit: contain;
}

.ititle {
    font-size: 40px;
    font-weight: bolder;
    padding-left: 10px;
}

.iprice {
    color: rgb(255, 0, 0);
    font-size: 30px;
    font-weight: bold;
    padding-left: 10px;
}

.idescription {
    font-size: 25px;
    color: grey;
    padding-left: 15px;
}

.ispecification {
    font-size: 25px;
    color: rgb(0, 0, 0);
    padding-left: 15px;
}

.ibtns {
    display: flex;
    justify-content: space-around;
}

.ibtn {
    padding: 15px 50px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    margin: 20px;
}

.ibuy {
    background-color: rgb(0, 255, 0);
}

.iadd {
    background-color: #ff8c00;
}

.iexploremoretitle {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bolder;
    margin: 30px 0;
}

.sec {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

@media (max-width: 500px) {

    .ipage {
        padding: 0;
    }

    .iphoto {
        width: 280px;
        padding-top: 10px;
    }

    .ititle {
        font-size: 30px;
        padding-left: 5px;
    }

    .iprice {
        font-size: 25px;
        margin: 10px 10px;
    }

    .idescription {
        font-size: 20px;
        padding-left: 5px;
    }

    .ispecification {
        font-size: 20px;
        padding-left: 5px;
    }

    .ibtn {
        padding: 10px 8px;
        font-size: 16px;
        margin: 15px 5px;
    }

    .iexploremoretitle {
        font-size: 25px;
        margin: 20px 0;
    }

    .sec {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 500px) and (max-width: 760px) {
    .iphoto {
        width: 500px;
    }

    .ititle {
        font-size: 30px;
        padding-left: 5px;
    }

    .iprice {
        font-size: 25px;
        margin: 10px 10px;
    }

    .idescription {
        font-size: 20px;
        padding-left: 5px;
    }

    .ispecification {
        font-size: 20px;
        padding-left: 5px;
    }

    .ibtn {
        padding: 10px 30px;
        font-size: 16px;
        margin: 15px 5px;
    }

    .iexploremoretitle {
        font-size: 30px;
        margin: 20px 0;
    }

    .sec {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 760px) and (max-width: 1000px) {
    .iphoto {
        width: 760px;
    }

    .ititle {
        font-size: 30px;
        padding-left: 5px;
    }

    .iprice {
        font-size: 25px;
        margin: 10px 10px;
    }

    .idescription {
        font-size: 20px;
        padding-left: 5px;
    }

    .ispecification {
        font-size: 20px;
        padding-left: 5px;
    }

    .ibtn {
        padding: 20px 30px;
        font-size: 18px;
        margin: 15px 5px;
    }

    .iexploremoretitle {
        font-size: 30px;
        margin: 20px 0;
    }

    .sec {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {

    .iphoto {
        width: 1000px;
    }

    .sec {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}